/*  –––––––––––––––––––––––VARIABLES––––––––––––––––––––––––––– */
:root {
	--primary-text-color: blue;
    --secondary--text-color: lightblue ;
    
    --radio-checked-color: #47c1b3;
    --radio-unchecked-color: #d8f2ef;
}

/*-------------------GENERAL RESET------------------------------------- */
html,
body {
  height: 100%;
  margin: 0;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

ul {
    margin: 0;
    padding: 0;
}

li {
    padding-left: unset;
    list-style-type: none;
}

a {
    text-decoration: none;
}
a:visited {
    color: mediumblue;
}

/* HIDE FORST ANIMATIONS */

body.preload * {
    animation-duration: 0s !important;
    -webkit-animation-duration: 0s !important;
}

.hidden {
    visibility: hidden !important;
}

/*-------------------PAGE CONTAINER------------------------------------- */
.page-container {
    width: 200px;
    height: 440px;
    border: rgb(28, 28, 28) solid 5px;
    border-radius: 25px;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 5px 10px 18px #888888;
    display: flex;
    flex-direction: column;
}

/*-------------------HEADER------------------------------------- */
.header-container {
    margin: 1rem 0;
    padding: 1rem;
}

.header-text {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.5rem;
    margin: 0;
}

.secondary-header-text {
    font-size: 1rem;
}

/******* RADIO BUTTONS **********/

.radio-buttons-container {
    background-color: #74feee;
    height: 60%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.radio-buttons-form{
    background-color:#fdfefd;
    padding-right: 1rem;
    border-radius: 20px 0 0 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 7rem;
    box-shadow: 6px 12px 6px -6px rgb(92 124 165 / 50%);
}

.android-button {
    background-color: var(--radio-checked-color);
    z-index: 4;
    /* outline: 2px dotted rgb(205, 66, 50); */
}
.ios-button {
    z-index: 3;
    background-color: var(--radio-unchecked-color);
    /* outline: 2px dotted rgb(83, 78, 143); */
}

.radio-group {
    display: flex;
    position: relative;
    padding-left: 1rem;
    cursor: pointer;
    font-size: 1.5rem;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    line-height: 2rem;
    align-items: center;
    justify-content: flex-start;
}

.radio-group:active{
    background-color: transparent;

}
.radio-group:focus{
    background-color: transparent;
}

.click-effect {
    content: '';
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
    display: block;
    border: var(--radio-checked-color) solid 1rem;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 5rem;
    box-sizing: border-box;
    opacity: 0;
}

.click-effect-animation {
    animation: click-circles 1s linear;
}

.radio-label {
    display: block;
    padding-left: 1.5rem;
}

.radio-group input {
    position: relative;
    opacity: 0;
    cursor: pointer;
    z-index: 6;
    transform: scale(2) translateX(0.25rem);
}

.custom-radio {
    position: absolute;
    height: 1.5rem;
    width: 1.5rem;
    border-radius: .75rem;
    left: 1.5rem;
}

.ios-to-hide-after-load {
    position: absolute;
    height: 1.5rem;
    width: 1.5rem;
    border-radius: 50%;
    left: 1.5rem;
    bottom: .25rem;
    /* outline: tomato solid 5px; */
    background-color: var(--radio-unchecked-color);
}

.radio-group input:checked ~ .ios-button {
/* animation: coming-up-radio-unchecked .5s linear 1s 1 both; */
    animation: move-radio-up-ios 2s linear 0s 1 both;
}

.radio-group input:not(:checked) ~ .ios-button {
    animation: jumping-radio-unchecked .5s linear .5s 1 both;
    z-index: 5;
/* animation: move-radio-down-ios 4s linear 0s 1 forwards;  */
/* z-index: 5; */
}

.radio-group input:checked ~ .android-button {
/* animation: coming-up-radio-checked .5s linear 1s 1 both; */
    animation: move-radio-up-android 2s linear 0s 1 both;
}
.radio-group input:not(:checked) ~ .android-button {
    animation: jumping-radio-checked .5s linear .5s 1 forwards;
}

/****** ANIMATIONS****/

@keyframes click-circles {
    0%{
        visibility: visible;
        opacity: 0;
    }
    1%{
        opacity: .5;
    }
    15%{
        border-width: 1rem;
        transform: scale(.8);
    }
    50% {
        border-width: .5rem;
        border-width: .9rem;
    }
    75% {
      transform: scale(2, 2);
      border-width: .35rem;
    }
    99% {
      transform: scale(4, 4);
      border-width: .1rem;
    }
    100% {
      opacity: 0;
      visibility: hidden;
    }
}

@keyframes move-radio-up-ios {
    0%   {margin-top: 0;}
    25%  {margin-top: -3rem; height: 4.5rem;}
    50%  {margin-top: -3rem; height: 4.5rem;}
    /* 75%  {margin-top: -3rem; height: 4.5rem;} */
    100% { margin-top: -6rem; height: 1.5rem;}
}

@keyframes move-radio-up-android {
    0%   {margin-top: 6rem;}
    25%  {margin-top: 3rem; height: 4.5rem;}
    50%  {margin-top: 3rem; height: 4.5rem;}
    /* 75%  {margin-top: 3rem; height: 4.5rem;} */
    100% { margin-top: 0rem; height: 1.5rem;}
}

@keyframes jumping-radio-checked {
    0% {

    }
    25% {
    transform: translateY(3rem); 
    }
    50% {
        transform: translateY(2.5rem);
    }
    75% {
        transform: translateY(3rem);
    }
    95% {
        transform: translateY(2.75rem);
    }
    100% {
        transform: translateY(3rem);
    }
}

@keyframes jumping-radio-unchecked {
    0% {
        transform: translateY(-3rem);
    }
    25% {
    transform: translateY(0rem); 
    }
    50% {
        transform: translateY(-1rem);
    }
    75% {
        transform: translateY(-0rem);
    }
    95% {
        transform: translateY(-.5rem);
    }
    100% {
        transform: translateY(-0rem);
    }
}

/******* FOOTER **********/

.footer-container {
    padding: 1rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1rem;
    font-weight: 600;
    margin-top: auto;
}