/* Variables /////////////TO INSERT
–––––––––––––––––––––––––––––––––––––––––––––––––– */
:root {
	--primary-text-color: blue;
    --secondary--text-color: lightblue ;
    
    --radio-checked-color: #47c1b3;
    --radio-unchecked-color: #d8f2ef;
}

/*-------------------GENERAL RESET------------------------------------- */
html,
body {
  height: 100%;
  margin: 0;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

ul {
    margin: 0;
    padding: 0;
}

li {
    padding-left: unset;
    list-style-type: none;
}

a {
    text-decoration: none;
}
a:visited {
    color: mediumblue;
}



/*-------------------PAGE CONTAINER------------------------------------- */
.page-container {
    width: 200px;
    height: 440px;
    border: rgb(28, 28, 28) solid 5px;
    border-radius: 25px;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 5px 10px 18px #888888;
    display: flex;
    flex-direction: column;
}

/*-------------------HEADER------------------------------------- */
.header-container {
    margin: 1rem 0;
    padding: 1rem;
}

.header-text {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.5rem;
    margin: 0;
}

.secondary-header-text {
    font-size: 1rem;
}

/* ---------------------MENU -------------------------------------*/

.menu-container {
    padding: 1rem;
    display: flex;
    flex-direction: column;
}

.menu-item {
    background-color: rgba(223, 223, 223, .6);
    margin: .75rem 0;
    font-weight: 600;
    padding: .5rem;
    border-radius: 10px;
}

/*-------------------DATE PICKER CONTAINER------------------------------------- */
.date-picker-text {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.5rem;
    margin: 0;
}

.blue-text {
    color: var(--primary-text-color);
}

.lightblue-text {
    color: skyblue;
}

.date-picker-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 170px;
    margin: 1.75rem 0;
    align-items: center;
    overflow: hidden;
    position: relative;
    /* pointer-events: none; */
}

/*----SHADES ABOVE NOT CURRENT ITEMS---- */
.date-picker-container::before, .date-picker-container::after {
    content: '';
    position: absolute;
    background-color: rgb(223, 223, 223);
    height: 40%;
    width: 100%;
    opacity: 0.5;
}

.date-picker-container::before {
    border-bottom: 1px solid gray;
    top: 0;
}

.date-picker-container::after {
    border-top: 1px solid gray;
    bottom: 0;
    z-index: -1;
}

/*----DATE LIST ITEMS---- */
.picker {
    display: flex;
    flex-direction: column;
    flex: 1;
    width: 30%;
    height: 88%;
    list-style-type: none;
    text-align: center;
    overflow-y: scroll;
    /* overflow-x: hidden; */
    /* scrollbar-width: none; */
    align-content: center;
    position: relative;
    line-height: 1.5em;
    scroll-behavior: smooth;
    /* pointer-events: none; */
}

.picker::-webkit-scrollbar {
    display: none;
}

.picker > * {
    /* overflow-anchor: none; */
}

.day-picker {
    flex: 1;
}

.month-picker {
    flex: 1.25;
}
.year-picker {
    flex: 1.5;
}

.date-current {
    /* text-shadow: 1px 1px 1px #a3a3a3; */
    /* overflow-anchor: auto; */
}

.date-one-difference {
    opacity: .8;
    transform: scale(1, .8);
    line-height: 2rem;
}

.date-two-difference {
    opacity: .4;
    transform: scale(1, .6);
    line-height: 1.5rem;
}

.date-three-difference {
    opacity: .1;
    transform: scale(1, .6);
    line-height: 1.5rem;
}

/******* RADIO BUTTONS **********/

.radio-buttons-container {
    background-color: #74feee;
    height: 60%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.radio-buttons-form{
    background-color:#fdfefd;
    padding-right: 1rem;
    border-radius: 20px 0 0 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 7rem;
}

.android-button {
    background-color: var(--radio-checked-color);
    z-index: 4;
    outline: 2px dotted rgb(205, 66, 50);
}
.ios-button {
    z-index: 3;
    background-color: var(--radio-unchecked-color);
    outline: 2px dotted rgb(83, 78, 143);
}

.radio-group {
    display: flex;
    position: relative;
    padding-left: 2.5rem;
    cursor: pointer;
    font-size: 1.5rem;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    line-height: 2rem;
    align-items: center;
    justify-content: flex-start;
}

.radio-label {
    display: block;
}

.radio-group input {
    position: relative;
    opacity: 0;
    cursor: pointer;
    z-index: 6;
    transform: scale(2) translateX(-0.5rem);
}

.custom-radio {
    position: absolute;
    height: 1.5rem;
    width: 1.5rem;
    border-radius: 50%;
    left: 1.5rem;
}

.radio-group input:checked ~ .ios-button {
    transform: translate(0, -3rem);
    transition: transform 1s linear 2s;
    /* animation: coming-up-radio-unchecked 1s linear 2s 1 forwards; */
}

.radio-group input:not(:checked) ~ .ios-button {
    transform: translate(0, 0); 
    transition: transform 1s linear 1s;
    /* animation: jumping-radio-unchecked 1s linear 1s 1 forwards; */
    z-index: 5;
}

.radio-group input:checked ~ .android-button {
    /* transform: translate(0, 0rem);
    transition: transform 1s linear 2s; */
    animation: coming-up-radio-checked 1s linear 2s 1 forwards;
}
.radio-group input:not(:checked) ~ .android-button {
    /* transform: translate(0, 3rem);
    transition: transform 1s linear 1s; */
    animation: jumping-radio-checked 1s linear 1s 1 forwards;
}

.transition-background {
    width: 1.5rem;
    height: 1.5rem;
    border-radius: .75rem;
    position: absolute;
    left: 1.5rem;
    visibility: hidden;
}

.android .android-background-transition {
    background: var(--radio-unchecked-color);
    top: .25rem;
    opacity: 0;
    height: 4.5rem;
    outline: 2px dashed red;
}

.android .ios-background-transition {
    background: var(--radio-unchecked-color);
    bottom: -2.75rem;
    opacity: 1;
    height: 1.5rem;
    outline: 2px dotted blue;
}

.android input:not(:checked) ~ .android-background-transition {
    height: 1.5rem;
    opacity: 1;
    transition: height 1s linear 2s, opacity 0s linear 2s;
    visibility: visible;
}


.android input:not(:checked) ~ .ios-background-transition {
    height: 4.5rem;
    opacity: 0;
    transition: height 1s linear 0s, opacity 0s linear 2s;
    visibility: visible;
}

.android .ios-background-transition-up {
    background: var(--radio-checked-color);
    bottom: -2.75rem;
    opacity: 1;
    height: 1.5rem;
    outline: 2px dotted yellowgreen;
}

.android input:checked ~ .ios-background-transition-up {
    height: 4.5rem;
    opacity: 0;
    transition: height 1s linear 0s, opacity 0s linear 2s;
    visibility: visible;
}

.android .android-background-transition-up {
    background: var(--radio-checked-color);
    top: 0.25rem;
    opacity: 1;
    height: 4.5rem;
    outline: 2px dotted rgb(192, 50, 205);
}

.android input:checked ~ .android-background-transition-up {
    height: 1.5rem;
    opacity: 1;
    transition: height 1s linear 2s, opacity 0s linear 2s, visibility 0s linear 2s;
    visibility: visible;
}

@keyframes coming-up-radio-checked {
    from {transform: translateY(3rem); }
    to{transform: translateY(0rem);}
}

@keyframes coming-up-radio-unchecked {
    from {transform: translateY(0rem); }
    to{transform: translateY(-3rem);}
}

@keyframes jumping-radio-checked {
    0% {

    }
    25% {
    transform: translateY(3rem); 
    }
    50% {
        transform: translateY(2.5rem);
    }
    75% {
        transform: translateY(3rem);
    }
    95% {
        transform: translateY(2.75rem);
    }
    100% {
        transform: translateY(3rem);
    }
  }

  @keyframes jumping-radio-unchecked {
    0% {
        transform: translateY(-3rem);
    }
    25% {
    transform: translateY(0rem); 
    }
    50% {
        transform: translateY(-1rem);
    }
    75% {
        transform: translateY(-0rem);
    }
    95% {
        transform: translateY(-.5rem);
    }
    100% {
        transform: translateY(-0rem);
    }
  }
  
/******* FOOTER **********/
.footer-container {
    /* margin: 1rem 0; */
    padding: 1rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1rem;
    font-weight: 600;
    margin-top: auto;
}
